.accounts-container {
  padding: 0px;
  display: flex;
  justify-content: space-around; /* This will space out the account cards evenly */
  align-items: center; /* This aligns the cards vertically at the same level */
  margin: 20px; /* Add some margin around the container for better spacing */
}

.outer-div {
  padding-top: 1px;
}

.account-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 30%; /* Adjust the width as needed */
  transition: transform 0.3s ease;
  text-align: center; /* Center-aligns text within the card */
}

.account-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #89b4d0;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  display: block; /* Makes the button a block element to take the full width */
  margin: 10px auto; /* Centers the button horizontally within the card */
}

.title {
  padding: 3rem;
  text-align: center; /* Center-aligns the title */
  font-size: 30px;
}

p {
  font-size: 50px;
}

.account-button {
  font-size: 20px;
  width: fit-content;
  background-color: #89b4d0; /*when button is at idle it is a lighter blue matching w/nav bar*/
}

.account-button:hover {
  background-color: #2a76a5; /*when we hover over buttton it will turn darker blue*/
  font-weight: bolder;
}

.content.div {
  padding-left: 80px;
}
.credit-card-img {
  height: 60px;
  display: block; /* Centers the image */
  margin: 0 auto 10px; /* Reduced space below the image */
  max-width: 40%; /* Ensures the image is responsive */
  height: auto; /* Maintains aspect ratio */
}

.content-div h2,
.content-div p {
  font-size: 1.6rem;
  margin-left: 80px; /* Adjust this value to get the desired right shift */
  margin-top: 20px; /* Added margin to bring the paragraph closer to the image */
}